<!DOCTYPE html>
<html lang="es-MX">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <head>
        <title>MEDIPLUS</title>
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="icon" href="https://w7.pngwing.com/pngs/671/580/png-transparent-physician-medicine-health-care-clinic-surgery-sick-people-logo-pharmaceutical-drug-silhouette.png">
    </head>
    <body>
        <div class="container">
            <div class="d-flex align-items-center justify-content-between">
                <div class="logo">
                    <header id="main-header">
                        <a href="index.html" id="logo-header">
                            <span class="site-name">MEDIPLUS</span>  
                            <span id="site-desc">Al Servicio de la Salud</span>
                        </a>
                    <nav>
                        <ul>
                        <li><a href="index.html">Inicio</a></li>
                        <li> <a href="acercade.html">Sobre Nosotros</a></li>
                        <li><a href="contacto.html">Contacto</a></li>
                        <li><a href="login.html">Log In</a></li>
                        <li><a href="registro.html">Sign Up</a></li>
                        <li button><a href="citas.html">Citas</a></li>
                        <li><p>Bienvenido,{{session['username'] }}</p></li>
                        
                        </ul>
                    </nav>
                </header>
                </div>
            </div>

            <div class="contenedor">
                <img src="https://www.lionnetworks.mx/images/background-test.jpg" width="100%"/>
            </div>
        </div>
    </body>
</html>